@import 'tailwindcss';

@plugin 'tailwindcss-motion';

@plugin 'daisyui';

@plugin 'daisyui/theme' {
	name: 'danila';
	default: true;

	--color-primary: #ff5924;
	--color-accent: #2457ff;
	--color-neutral: #ffffff;
	--color-base-100: #eaeaea;
	--color-base-200: #dedede;
	--color-base-content: #292929;
}

@theme {
	--font-family-sans: 'Space Grotesk', sans-serif;
	--screen-no-footer: calc(100vh - 80px);
}

html,
body {
	font-family: 'Space Grotesk';
	scroll-behavior: smooth;
}
